autoload -Uz compinit; compinit
# autoload -Uz predict-on; predict-on

setopt correct
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias hexedit='hexedit --color'

HISTFILE=~/.zsh_history
SAVEHIST=1000
HISTSIZE=1000
setopt hist_save_no_dups
# setopt hist_ignore_all_dups
setopt share_history
setopt incappendhistory
setopt extended_history

PS1=" %F{#{{.col_accent}}}%.%f %# "
# PS1="[%n@%m %c]%# "

source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
ZSH_AUTOSUGGEST_STRATEGY=(history completion)
