autoload -Uz compinit; compinit
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
# yay -S zsh zsh-autosuggestions zsh-completions zsh-syntax-highlighting

# autoload -Uz predict-on; predict-on
setopt correct
setopt incappendhistory
setopt share_history
setopt hist_ignore_all_dups
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias hexedit='hexedit --color'

SAVEHIST=1000
HISTFILE=~/.zsh_history
PS1=" %F{#{{.col_accent}}}%.%f %# "
# PS1="[%n@%m %c]%# "