*{font-family:monospace,sans-serif;font-size:16px;color:#fff;transition:.2s;outline:none;}
window{background-color:transparent;}
window>box,tooltip{background-color:alpha(#222,.5);border:4px solid alpha(#222,.2);padding:0 16px;border-radius:16px;}
window.battery-low>box{background-color:alpha(#f44,.8);}
tooltip{background-color:alpha(#222,.8);border-color:alpha(#222,.5);}
#workspaces button,widget>*{background:transparent;border:0;box-shadow:none;border-radius:8px;}widget>*{padding:0 4px;}
#workspaces button.active,#workspaces button.focused{background-color:alpha(#6ca,.5);}
#battery.high.charging,#battery.high.full{background-color:alpha(#6ca,.5);}
#wireplumber.muted{color:alpha(currentColor,.2);}
#tray{background-color:alpha(currentColor,.2);}
#mpris.paused,#mpris.stopped{color:alpha(currentColor,.5);}
