general {
	hide_cursor = true
	grace = 5
	immediate_render = true
}

background {
	path = {{.wallpaper}} #screenshot
	blur_size = 8
	blur_passes = 1
}

label {
	text = cmd[update:1000] date "+%y-%m-%d %A"
	color = rgba({{.col_fg}}cc)
	font_size = 16
	font_family = {{.hyprlock_font}}

	position = 0, -96
	halign = center
	valign = top
}
label {
	text = cmd[update:1000] date "+%H:%M"
	color = rgba({{.col_fg}}cc)
	font_size = 64
	font_family = {{.hyprlock_font}}

	position = 0, -128
	halign = center
	valign = top
}

image {
	path = ~/.face
	size = 128
	border_size = {{.border_width}}
	border_color = rgba({{.col_accent}}88)

	position = 0, 64
	halign = center
	valign = center
}
input-field {
	size = 256, 64
	outline_thickness = {{.border_width}}
	dots_size = 0.25
	dots_spacing = 0.5
	dots_center = true
	outer_color = rgba({{.col_accent}}88)
	inner_color = rgba({{.col_bg}}cc)
	font_color = rgba({{.col_fg}}ff)
	font_family = monospace
	# fade_on_empty = false
	placeholder_text = <span color="##{{.col_fg}}88">$USER</span>
	hide_input = false

	check_color = rgba({{.col_bg}}88)
	fail_color = rgba({{.col_warn}}cc)
	fail_text = <span color="##{{.col_fg}}88">:(</span>

	position = 0, -64
	halign = center
	valign = center
}
