<?xml version="1.0"?>
<labwc_config>

  <core>
    <decoration>client</decoration>
  </core>

  <keyboard>
    <layoutScope>global</layoutScope>
    <repeatRate>25</repeatRate>
		<repeatDelay>600</repeatDelay>
		<keybind key="W-c"><action name="close"/></keybind>
		<keybind key="W-q"><action name="Execute" command="{{.terminal}}"/></keybind>
		<keybind key="W-Space"><action name="Execute" command="{{.terminal}} node"/></keybind>
		<keybind key="W-e"><action name="Execute" command="{{.fileManager}}"/></keybind>
		<keybind key="W-r"><action name="Execute" command="{{.menu}}"/></keybind>
		<keybind key="W-w"><action name="Execute" command="{{.wlan}}"/></keybind>
		<keybind key="W-m"><action name="Execute" command="exit-menu"/></keybind>
		<keybind key="W-v"><action name="Execute" command="cliphist-menu"/></keybind>
		<keybind key="W-p"><action name="Execute" command="wl-mirror-menu"/></keybind>
		<keybind key="W-S-c"><action name="Execute" command="hyprpicker -a"/></keybind>

    <keybind key="XF86_MonBrightnessUp"><action name="Execute" command="brightnessctl --exponent=2 s +5%" /></keybind>
    <keybind key="S-XF86_MonBrightnessUp"><action name="Execute" command="brightnessctl --exponent=2 s +1%" /></keybind>
    <keybind key="S-XF86_MonBrightnessDown"><action name="Execute" command="brightnessctl --exponent=2 s 1%-" /></keybind>
    <keybind key="XF86_MonBrightnessDown"><action name="Execute" command="brightnessctl --exponent=2 s 5%-" /></keybind>
  </keyboard>

	<libinput>
    <device category="default">
      <naturalScroll>yes</naturalScroll>
      <tap>yes</tap>
      <tapAndDrag>yes</tapAndDrag>
      <disableWhileTyping>no</disableWhileTyping>
      <scrollFactor>1.0</scrollFactor>
    </device>
  </libinput>

</labwc_config>
