[Default Applications]
text/plain=code-oss.desktop
text/javascript=code-oss.desktop
text/html=code-oss.desktop
image/svg+xml=code-oss.desktop
image/png=imv.desktop
application/xml=code-oss.desktop
application/json=code-oss.desktop
application/x-zerosize=code-oss.desktop
video/webm=mpv.desktop

[Added Associations]
inode/directory=mpv.desktop;
text/plain=code-oss.desktop;
text/javascript=code-oss.desktop;
text/html=code-oss.desktop;
image/svg+xml=code-oss.desktop;
image/png=imv.desktop;
application/xml=code-oss.desktop;
application/json=code-oss.desktop;
application/x-zerosize=code-oss.desktop;
video/webm=mpv.desktop;
