[Default Applications]
text/plain={{.code_editor}}.desktop
text/javascript={{.code_editor}}.desktop
text/html={{.code_editor}}.desktop
image/svg+xml={{.code_editor}}.desktop
image/png=imv.desktop
application/xml={{.code_editor}}.desktop
application/json={{.code_editor}}.desktop
application/x-zerosize={{.code_editor}}.desktop
video/webm=mpv.desktop

[Added Associations]
inode/directory=mpv.desktop;
text/plain={{.code_editor}}.desktop;
text/javascript={{.code_editor}}.desktop;
text/html=firefox.desktop;{{.code_editor}}.desktop;
image/svg+xml=firefox.desktop;{{.code_editor}}.desktop;
image/png=imv.desktop;
image/heif=imv.desktop
application/xml={{.code_editor}}.desktop;
application/json={{.code_editor}}.desktop;
application/x-zerosize={{.code_editor}}.desktop;
video/webm=mpv.desktop;
