clock
timestr=%H:%M
datestr=%y-%m-%d
indicator
screenshot
effect-blur=8x8
daemonize
font=monospace

indicator-radius=64
indicator-thickness={{.border_width}}
separator-color=00000000
key-hl-color={{.col_accent}}
bs-hl-color={{.col_warn}}
# caps-lock-key-hl-color={{.col_accent}}
# caps-lock-bs-hl-color={{.col_warn}}

ring-color={{.col_accent}}88
ring-clear-color={{.col_accent}}
# ring-caps-lock-color={{.col_accent}}88
ring-ver-color={{.col_accent}}
ring-wrong-color={{.col_warn}}

inside-color={{.col_bg}}cc
inside-clear-color={{.col_bg}}cc
# inside-caps-lock-color={{.col_bg}}cc
inside-ver-color={{.col_bg}}cc
inside-wrong-color={{.col_bg}}cc

line-color=00000000
line-clear-color=00000000
# line-caps-lock-color=00000000
line-ver-color=00000000
line-wrong-color=00000000

text-color={{.col_fg}}
text-clear-color={{.col_fg}}
text-caps-lock-color={{.col_fg}}
text-ver-color={{.col_fg}}
text-wrong-color={{.col_fg}}

text-clear=CLR
text-caps-lock=CAPS
text-ver=...
text-wrong=:(

