<?xml version="1.0" encoding="UTF-8"?>
<actions>
<action>
	<icon>utilities-terminal</icon>
	<name>ターミナル</name>
	<submenu></submenu>
	<unique-id>open-terminal-here</unique-id>
	<command>{{.terminal}} --working-directory=%f</command>
	<description></description>
	<range>*</range>
	<patterns>*</patterns>
	<startup-notify/>
	<directories/>
</action>
<action>
	<icon>com.visualstudio.code.oss</icon>
	<name>Code - OSS</name>
	<submenu></submenu>
	<unique-id>open-code-here</unique-id>
	<command>code %f</command>
	<description></description>
	<range>*</range>
	<patterns>*</patterns>
	<startup-notify/>
	<directories/>
</action>
<action>
	<icon>mpv</icon>
	<name>mpv</name>
	<submenu></submenu>
	<unique-id>open-with-mpv</unique-id>
	<command>mpv --force-window %F</command>
	<description></description>
	<range>*</range>
	<patterns>*</patterns>
	<startup-notify/>
	<directories/>
</action>
</actions>
</actions>
