background-color=#{{.col_bg}}88
margin={{.gap}},{{.gap}},0
padding={{mul .border_width 2}}
border-size={{.border_width}}
border-color=#{{.col_accent}}88
border-radius={{.border_radius}}
progress-color=#{{.col_accent}}
default-timeout=10000
layer=overlay
[urgency=low]
border-color=#{{.col_nop}}88
[urgency=critical]
border-color=#{{.col_warn}}88
